.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 22px;
}

.span {
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 276px;
    height: 36px;
    padding: 8px 24px;
    margin-bottom: 16px;
}

.input:focus {
    outline: none;
}

.pen {
}