.App {
    --header_height: 60px;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}

.hw {
    padding: 0 70px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    line-height: 1.3;
}

.hwTitle {
    padding: 0  0 9px 70px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 34px;
    margin-top: 131px;
    border-bottom: 1px solid #d9d9d9;
}